h1 {
    font-family: 'Abel', sans-serif;
}

h1 a {
    color: #0e0c0f;
}

.page-header {
    background-color: #abcdef;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.itemlist {
    margin-bottom: 70px;
    padding-left: 25px;
}

.date {
    background-color: #bebaba;
}

.itemlist-form {
    font-size: 18;
    padding-left:50px
}

.errorlist {
    color: #ff2222
}