{% extends 'listexpress/base.html' %}

{% block content %}
    <h1>List: {{ itemlist.list_name }}</h1>
    
    {% if itemlist.fully_defined %}
        <h1><a href="{% url 'listexpress:comparisonvote' itemlist.id %}">Vote!</a></h1>
    {% else %}
        {% if userOwnsList %}
            <h3>People will be able to vote once you build comparisons for this list.</h3>
        {% else %}
            <h3>You will be able to vote once the list creator finalizes this list.</h3>
        {% endif %}
    {% endif %}
    
    <h3>Items</h3>
    {% if userOwnsList and itemlist.fully_defined %}
        <p>You created this list! <a href="{% url 'listexpress:orderlist' itemlist.id %}">Want to order it based on current vote data?</a></p>
    {% endif %}
    {% for item in items %}
        <li>{{ item.item_name }}</li>
    {% endfor %}
    
    
    {% if itemlist.fully_defined %}
        <h3>Comparisons</h3>
        <table class = "table">
            <thead>
                <th>Comparison</th>
                <th>Votes for 1</th>
                <th>Votes for 2</th>
            </thead>
            <tbody>
                {% for comparison in comparisons %}
                    <tr>
                        <td>{{ comparison.comparison_name }}</td>
                        {% if userOwnsList %}
                            <td>{{ comparison.true_votes }}</td>
                            <td>{{ comparison.false_votes }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Comparisons have not yet been built.</h3>
        {% if userOwnsList %}
            <p>You created this list! <a href="{% url 'listexpress:buildcomparisons' itemlist.id %}">Want to build comparisons now?</a></p>
        {% endif %}
    {% endif %}
{% endblock %}